@model EventHost.Web.Models.Sections.EditSectionViewModel

@{
    ViewData["Title"] = "Edit section";
    ViewData["Subtitle"] = Model.EventName;
}

<form asp-action="Edit" asp-route-eventId="@Model.EventId" asp-route-id="@Model.Id">

    @await Html.PartialAsync("_EditForm", Model)

    <button type="submit" class="btn btn-primary">Save section</button>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {
            function startChange() {
                var startDate = $dpStart.value(),
                    endDate = $dpEnd.value();

                if (startDate) {
                    startDate = new Date(startDate);
                    startDate.setDate(startDate.getDate());
                    $dpEnd.min(startDate);
                    $dpEnd.value(startDate);
                }
            }

            var $dpStart = $('#StartOn').data('kendoDateTimePicker')
                , $dpEnd = $('#EndOn').data('kendoDateTimePicker');

            $dpStart.bind('change', startChange);

            $dpEnd.min($dpStart.value());
        });
    </script>
}


