@model EventHost.Web.Models.Sessions.EditSessionViewModel

@{
    ViewData["Title"] = "Create session";
    ViewData["Subtitle"] = Model.EventName;
}

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    @await Html.PartialAsync("_EditForm", Model)
    
    <button type="submit" class="btn btn-primary">Create session</button>
</form>

@section Scripts 
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    
    <script>
            $(document).ready(function () {
                $('#Description').kendoEditor({
                    tools: ['bold', 'italic', 'underline', 'strikethrough', 'insertUnorderedList', 'insertOrderedList', 'indent', 'outdent',
                        'createLink', 'unlink'],
                    resizable: {
                        content: true,
                        toolbar: true
                    },
                    encoded: false,
                    pasteCleanup: {
                        span: true,
                        keepNewLines: true,
                        css: true
                    }
                });

                var $ddlHostUserId = $('#HostUserId'),
                    $divHostName = $('#host-name-wrapper'),
                    $txtHostName = $('#HostName');

                toggleNonUserHost();
                $ddlHostUserId.on('change', function () {
                    toggleNonUserHost();
                });

                function toggleNonUserHost() {
                    if ($ddlHostUserId.val()) {
                        $divHostName.hide();
                        $txtHostName.val(null);
                    } else {
                        $divHostName.show();
                    }
                }
            });
    </script>
}
